<head>
    <title>Productos m치s caros en stock</title>
    <link rel="stylesheet" href="/static/stylesheets/graph.css"> 
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark px-3 flex-column">
            <div class="container-fluid align-items-center justify-content-between"> 
                <a href="/" id="brand-home-button" class="navbar-brand">
                    <img src="static/icons/sporter_logo.png" alt="catalogo" height="70">
                </a>
                <div class="d-flex align-items-center">
                    <a href="/administration" id="administration-btn" class="btn btn-4 ml-3">Registro de clientes</a>
                    <a href="#" id="logout-btn" class="btn btn-4 btn-sm ml-3">Cerrar Sesi칩n</a>
                    {{#if isNotLogged}}
                    <a href="/signIn" id="login-btn" class="btn btn-4 mt-3 ml-3">Iniciar Sesi칩n</a>
                    <a href="/register" id="register-btn" class="btn btn-4 btn-sm mt-3 ml-3">Registrarse</a>
                    {{/if}}
                </div>
            </div>
        </nav>
        <link rel="stylesheet" href="/static/stylesheets/navbar.css"> 
    </header>

    <!-- Funcion de cerrar sesion  -->
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.getElementById("logout-btn").addEventListener("click", () => {
                for (let i = 0; i < document.cookie.match(/=/g).length; i++) {
                    document.cookie = document.cookie.replace(/=\w+/, "=''")
                }
                window.location.reload()
            })
        })
    </script>

    <div class="container">
        <h1>Productos m치s caros en stock</h1>
        <canvas id="productosChart"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/javascripts/graph.js"></script>
</body>
</html>
